/* universal styles */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

.bold {
  font-weight: bold;
}

/* home page styles */
/* nav section */

#nav-open {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  color: white;
  background: none;
  border: none;
  transition: right 1s;
  z-index: 3;
}

#nav-button-bg {
  background-color: rgba(0, 0, 0);
  height: 5rem;
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: -5rem;
  transition: top 0.2s;
}

#nav-open:active {
  color: #484848;
}
#nav-open:hover {
  cursor: pointer;
  color: #484848;
}

#nav-content {
  position: fixed;
  top: -100%;
  width: 100%;
  min-height: 100%;
  font-size: 2.75rem;
  background-color: #000;
  transition: top 1s;
  z-index: 10;
}

.nav-close-wrapper {
  display: flex;
  flex-wrap: none;
  justify-content: end;
  min-height: fit-content;
}

#nav-close {
  font-size: 4rem;
  padding: 0 1rem;
  color: rgb(176, 176, 176);
  background: none;
  border: 1px solid black;
  border-radius: 15%;
}

#nav-close:active {
  color: #484848;
}
#nav-close:hover {
  cursor: pointer;
  color: #484848;
}

.nav-button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-button {
  color: rgb(176, 176, 176);
  width: 100%;
  padding: 3rem 0;
  margin: 1rem 0;
  /* background-color: rgb(36, 36, 36); */
}

.nav-button:active {
  background-color: #333333;
}
/* end of navigation section */

/* main section */
main {
  height: 100%;
  width: 100%;
}

/* hero section */
.hero-section {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.49)),
    url('images/harley-davidson-zGzXsJUBQfs-unsplash.jpg');
  background-size: cover;
  background-position: 43%;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo-wrapper img {
  width: 15rem;
  border-radius: 50%;
  margin-top: 2rem;
}

.hero-arrow {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
}

.heading {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  margin-top: 18rem;
  line-height: 1.5;
}
/* end of hero section */

/* established section */
.established {
  height: fit-content;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 4rem;
}

.text {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  padding: 2rem;
  padding-bottom: 1rem;
}

.harley {
  background-image: url('/images/dirt.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
/* end of established section */

/* services section */

.services {
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
}

.services h4 {
  font-size: 3rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
  height: 30rem;
  margin: 1rem 0;
}

.one {
  grid-column: 1/3;
  background-image: url(/images/utv.jpg);
  background-size: cover;
  background-position: center;
}

.two {
  grid-column: 3/5;
  background-image: url(/images/street.jpg);
  background-position: 75%;
  background-size: cover;
}
.three {
  grid-column: 1/5;
  background-image: url(/images/snow.jpg);
  background-position: center;
  background-size: cover;
}

/* end of services section */

/* testimonial section */

.testimonial-section {
  /* height: 100vh; */
  width: 100vw;
}

.testimonial-section hr {
  width: 90%;
}

.testimonial-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 75%;
  width: 100vw;
}

.slider-btn {
  position: absolute;
  font-size: 1.6rem;
  margin: 0 0.5rem;
  color: #fff;
  z-index: 1;
}

.slider-btn:hover {
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.slider-section {
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.slides-wrapper {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  display: inline-flex;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  user-select: none;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  min-width: 275px;
  max-width: 425px;
  padding: 1rem;
  border: 2px solid #fff;
}

.content {
  font-size: 1rem;
  text-align: left;
  padding: 1rem;
  line-height: 1.5;
}

.quote {
  display: block;
  position: relative;
  padding: 1rem 0;
}

.fa-quote-right {
  text-align: right;
}

.name {
  width: 200px;
  padding: 0 2rem;
}

.name h4 {
  font-size: 2rem;
}
/* end of testimonial section */

/* footer section */

.footer-section {
  height: 10rem;
  margin-top: 5rem;
  border-top: solid 1px #fff;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  width: 5rem;
  margin: 0 1rem;
  color: #fff;
}

.footer-icon p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.footer-icon i {
  color: #fff;
  font-size: 2rem;
}

.footer-icon:hover {
  background-color: #333333;
}

/* end of home page styles */

/* services page styles */

.logo-img-services {
  width: 8rem;
  padding: 1rem;
}

.title-wrapper {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.tile {
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 3rem 0;
}

.tile hr {
  border: solid 1.5px #fff;
  width: 98%;
}
.tile-img {
  height: 65%;
  background-color: #000;
  border-radius: 25px;
}

.tile-content {
  text-align: center;
  line-height: 1.5;
}

.tile-content h4 {
  height: 100%;
  font-size: 1.7rem;
}

.tile-img img {
  height: 100%;
  border-radius: 25px;
}
